@charset "UTF-8";
/* リキッドレイアウト対応 */

body {
  font-family: "Zen Old Mincho", serif;
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: all;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  word-wrap: break-word;
}

main {
  overflow: hidden;
  opacity: 0;
}
main .mv__slogan-text {
  color: transparent;
  background: linear-gradient(45deg, #f4727b 0 10%, #cfc9c9, #f4727b 90% 100%);
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-clip: text;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000), to(transparent));
  -webkit-mask-image: linear-gradient(to right, #000 0 50%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000), to(transparent));
          mask-image: linear-gradient(to right, #000 0 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 200% 100%;
          mask-size: 200% 100%;
  -webkit-mask-position: 0% 0%;
          mask-position: 0% 0%;
}

.mv__bg {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #000));
  -webkit-mask-image: linear-gradient(to right, transparent 0, #000 50% 100%);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #000));
          mask-image: linear-gradient(to right, transparent 0, #000 50% 100%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 200% 100%;
          mask-size: 200% 100%;
  -webkit-mask-position: 100% 0%;
          mask-position: 100% 0%;
}

.header {
  position: absolute;
  top: 43px;
  top: 2.6875rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-item {
  font-size: 18px;
  font-size: 1.125rem;
}

.header__nav-link {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.12em;
  color: #25201b;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.inner {
  max-width: 1920px;
  max-width: 120rem;
  padding: 0 45px;
  padding: 0 2.8125rem;
  margin-inline: auto;
}

.mv {
  position: relative;
  z-index: 2;
  padding: 40px 40px 0;
  padding: 2.5rem 2.5rem 0;
  aspect-ratio: 1920/867;
}

.mv__bg {
  position: fixed;
  inset: 0;
  z-index: 8;
  background: linear-gradient(45deg, #fff 0%, #ddcdce 100%);
  pointer-events: none;
}

.mv__logo {
  aspect-ratio: 393/132;
  width: 393px;
  width: 24.5625rem;
  margin-left: -28px;
  margin-left: -1.75rem;
  margin-top: -13px;
  margin-top: -0.8125rem;
}

.mv__logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.mv__flower1 {
  aspect-ratio: 553/788;
  position: absolute;
  z-index: 11;
  width: 28%;
  left: 0;
  bottom: -50px;
  bottom: -3.125rem;
  translate: 0 45%;
}

.mv__dec {
  opacity: 0;
  aspect-ratio: 657/542;
  width: 34%;
  left: 0;
  position: absolute;
  top: 85px;
  top: 5.3125rem;
  mix-blend-mode: screen;
}

.mv__images {
  margin-top: -120px;
  margin-top: -7.5rem;
  display: grid;
  grid-template-columns: 66% 1fr;
  place-content: center;
  gap: 38px;
  gap: 2.375rem;
  position: relative;
  z-index: 1;
}

.mv__img01-wrap {
  z-index: 3;
  grid-row: 1/3;
  position: relative;
  -webkit-clip-path: inset(-100% -100% 0% -10 0%);
          clip-path: inset(-100% -100% 0% -10 0%);
}

.mv__img01 {
  height: 100%;
  overflow: hidden;
  border-radius: 0 2.5rem 2.5rem 2.5rem;
}

.mv__visual {
  aspect-ratio: 710/953;
  position: absolute;
  bottom: 0;
  right: -55px;
  right: -3.4375rem;
  width: 33vw;
}

.mv__img02-wrap {
  position: relative;
}

.mv__img02 {
  aspect-ratio: 587/307;
  border-radius: 2.5rem;
  overflow: hidden;
}

.mv__img03-wrap {
  position: relative;
}

.mv__img03 {
  aspect-ratio: 587/480;
  border-radius: 2.5rem;
  overflow: hidden;
}

.mv__badge-label {
  width: 290px;
  width: 18.125rem;
  padding: 11px 37px 15px;
  padding: 0.6875rem 2.3125rem 0.9375rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background: radial-gradient(transparent, rgba(255, 255, 255, .4));
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 56px;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: 0 0 20px #ff5e3e;
  text-shadow: 0 0 1.25rem #ff5e3e;
}

.mv__slogan {
  position: absolute;
  bottom: 0;
  z-index: 15;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mv__slogan-text {
  display: block;
  font-size: 170px;
  font-size: 10.625rem;
  font-weight: 300;
  text-align: center;
  opacity: 0.7;
  line-height: 1.1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-family: "Cormorant Garamond", serif;
  color: rgba(255, 208, 210, .72);
}

.mv__vertical-copy {
  position: absolute;
  z-index: 5;
  left: 243px;
  left: 15.1875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.mv__vertical-copy-text {
  display: block;
  letter-spacing: 0.2em;
  line-height: 1.5;
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Zen Old Mincho", serif;
  -webkit-font-feature-settings: "vert";
          font-feature-settings: "vert";
}

.top-intro {
  position: relative;
  padding: 120px 0 160px;
  padding: 7.5rem 0 10rem;
  z-index: 1;
}
.top-intro::after {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% + 21.875rem);
  bottom: 0;
  width: 100%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(65%, #dca0a2));
  background: linear-gradient(to bottom, #fff 0%, #dca0a2 65% 100%);
  z-index: 1;
}

.top-intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  gap: 4rem;
  text-align: center;
  position: relative;
  z-index: 4;
}

.top-intro__title {
  margin: 0;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 0.12em;
  line-height: 1.4;
  color: #25201b;
}

.top-intro__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  gap: 1.5rem;
  max-width: 720px;
  max-width: 45rem;
}

.top-intro__description-text {
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2.1;
  letter-spacing: 0.06em;
  color: #25201b;
}

.top-intro__gallery {
  gap: 32px;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-intro__card {
  margin: 0;
  aspect-ratio: 320/360;
  border-radius: 2.5rem;
  overflow: hidden;
}

.top-intro__card-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-intro__dec {
  position: absolute;
  top: -50px;
  top: -3.125rem;
  right: -30px;
  right: -1.875rem;
  width: 600px;
  width: 37.5rem;
  aspect-ratio: 1;
  z-index: 2;
}

.top-intro__dec img {
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=styles.css.map */
