@use "global" as *;

.mv {
  position: relative;
  z-index: 2;
  padding: rem(40) rem(40) 0;
  aspect-ratio: 1920 / 867;
}

.mv__logo {
  aspect-ratio: 393/132;
  width: rem(393);
  margin-left: rem(-28);
  margin-top: rem(-13);
}

.mv__logo img {
  object-fit: contain;
}

.mv__flower1 {
  aspect-ratio: 553/788;
  position: absolute;
  z-index: 11;
  width: 28%;
  left: 0;
  bottom: rem(-50);
  translate: 0 45%;
}

.mv__dec {
  opacity: 0;
  aspect-ratio: 657/542;
  width: 34%;
  left: 0;
  position: absolute;
  top: rem(85);
  mix-blend-mode: screen;
}

.mv__images {
  margin-top: rem(-120);
  display: grid;
  grid-template-columns: 66% 1fr;
  place-content: center;
  gap: rem(38);
  position: relative;
  z-index: 1;
}

.mv__img01-wrap {
  z-index: 3;
  grid-row: 1 / 3;
  position: relative;
  clip-path: inset(-100% -100% 0% -10 0%);
}

.mv__img01 {
  height: 100%;
  overflow: hidden;
  border-radius: 0 rem(40) rem(40) rem(40);
}

.mv__visual {
  aspect-ratio: 710/953;
  position: absolute;
  bottom: 0;
  right: rem(-55);
  width: 33vw;
}
.mv__visual img {
}

.mv__img02-wrap {
  position: relative;
}

.mv__img02 {
  aspect-ratio: 587/307;
  border-radius: rem(40);
  overflow: hidden;
}

.mv__img03-wrap {
  position: relative;
}

.mv__img03 {
  aspect-ratio: 587/480;
  border-radius: rem(40);
  overflow: hidden;
}

.mv__badge-label {
  width: rem(290);
  padding: rem(11) rem(37) rem(15);
  border-radius: 50%;
  border: 1px solid #fff;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.4));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-font-family);
  font-size: rem(56);
  font-weight: var(--regular);
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--white);
  text-shadow: 0 0 rem(20) rgba($color: #ff5e3e, $alpha: 1);
}

.mv__slogan {
  position: absolute;
  bottom: 0;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
}

.mv__slogan-text {
  display: block;
  font-size: rem(170);
  font-weight: 300;
  text-align: center;
  opacity: 0.7;
  line-height: 1.1;
  width: fit-content;
  margin-inline: auto;
  font-family: var(--second-font-family);
  color: rgba(255, 208, 210, 0.72);
}

.mv__vertical-copy {
  position: absolute;
  z-index: 5;
  left: rem(243);
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
}

.mv__vertical-copy-text {
  display: block;
  letter-spacing: 0.2em;
  line-height: 1.5;
  color: var(--white);
  font-size: rem(30);
  font-weight: var(--regular);
  font-family: var(--base-font-family);
  font-feature-settings: "vert";
}

.top-intro {
  position: relative;
  padding: rem(120) 0 rem(160);
  z-index: 1;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: calc(100% + rem(350));
    bottom: 0;
    width: 100%;
    left: 0;
    background: linear-gradient(to bottom, #fff 0%, #dca0a2 65% 100%);
    z-index: 1;
  }
}

.top-intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(64);
  text-align: center;
  position: relative;
  z-index: 4;
}

.top-intro__title {
  margin: 0;
  font-size: rem(32);
  letter-spacing: 0.12em;
  line-height: 1.4;
  color: #25201b;
}

.top-intro__description {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  max-width: rem(720);
}

.top-intro__description-text {
  margin: 0;
  font-size: rem(18);
  line-height: 2.1;
  letter-spacing: 0.06em;
  color: #25201b;
}

.top-intro__gallery {
  gap: rem(32);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-intro__card {
  margin: 0;
  aspect-ratio: 320/360;
  border-radius: rem(40);
  overflow: hidden;
}

.top-intro__card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-intro__dec {
  position: absolute;
  top: rem(-50);
  right: rem(-30);
  width: rem(600);
  aspect-ratio: 1;
  z-index: 2;
}

.top-intro__dec img {
  object-fit: contain;
}
