@use "global" as *;

main {
  overflow: hidden;
  opacity: 0;

  // 最初のテキストが徐々に出てくる
  .mv__slogan-text {
    // 文字をくり抜く
    color: transparent;
    background: linear-gradient(
      45deg,
      #f4727b 0 10%,
      #cfc9c9,
      #f4727b 90% 100%
    );
    background-size: 100% 100%;
    background-repeat: repeat-x;
    background-clip: text;

    // マスクで非表示
    mask-image: linear-gradient(to right, #000 0 50%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 200% 100%;
    mask-position: 0% 0%;
  }
}

// mv全体が徐々に出てくる
.mv__bg {
  mask-image: linear-gradient(to right, transparent 0, #000 50% 100%);
  mask-repeat: no-repeat;
  mask-size: 200% 100%;
  mask-position: 100% 0%;
}
